# MongoDB Connection String
# MongoDB Atlas থেকে পাবেন (নিচের README দেখুন)
MONGO_URI=mongodb://personal-routine-project:alim1234@ac-36yqiat-shard-00-00.xxpprdw.mongodb.net:27017,ac-36yqiat-shard-00-01.xxpprdw.mongodb.net:27017,ac-36yqiat-shard-00-02.xxpprdw.mongodb.net:27017/?ssl=true&replicaSet=atlas-s5hq6u-shard-0&authSource=admin&appName=Cluster0

# Server Port (Render.com নিজেই সেট করবে, local এ 5000 রাখুন)
PORT=5000
