# MongoDB Connection String
# MongoDB Atlas থেকে পাবেন (নিচের README দেখুন)
MONGODB_URI=mongodb+srv://personal-routine-project:alim1234@cluster0.xxpprdw.mongodb.net/?appName=Cluster0
# Server Port (Render.com নিজেই সেট করবে, local এ 5000 রাখুন)
PORT=5000
